// Colors
$primary: #3aafa9 !default; 
$primary-hover: #2b7a78 !default;
$secondary: #17252a !default;
$secondary-hover: #def2f1 !default;
$tertiary: #efefef !default;
$tertiary-hover: #f4f3f3 !default;
$border-color: #b7b8b6 !default;
$white: #feffff !default;
$black: #000 !default;
$blue: #0070d2 !default;
$green: #4BB543 !default;
$red: #c00 !default;
$lonestar: #6a0000 !default;
$success: $green !default;
$danger: $red !default;
$strong: #17252a !default;
$myrtle: #3aafa9 !default;
$keppel: #2b7a78 !default;
$azureish: #def2f1 !default;
$plain: #feffff !default;

// Gray values
$grey1: #f9f9f9 !default;
$grey2: #eee !default;
$grey3: #ccc !default;
$grey4: #999 !default;
$grey5: #666 !default;
$grey6: #444 !default;
$grey7: #222 !default;
$grey8: #333 !default;
$grey-transparent-1: rgba(0, 0, 0, 0.65) !default;
$grey-transparent-2: rgba(0, 0, 0, 0.25) !default;

$light-gray: $grey1 !default;
$slightly-darker-gray: $grey4 !default;
$dark-gray: $grey6 !default;
$darker-gray: $grey7 !default;
$horizontal-rule-grey: $grey3 !default;
$product-number-grey: $grey3 !default;
$horizontal-border-grey: $grey4 !default;
$menu-link: $secondary !default;
$close-menu-bg: $grey2 !default;
$link-color: $secondary !default;
$hr-border-color: $grey3 !default;
$input-placeholder-color: $grey-transparent-1 !default;

$container-max-widths: (
    md: 728px,
    lg: 940px,
    xl: 1060px
) !default;

// Radiuses
$border-radius: 0.25rem !default;
$border-radius-lg: $border-radius !default;
$border-radius-sm: $border-radius !default;
$border-color: $grey3;

// Box-Shadow
$box-shadow: -4px 6px 6px -2px rgba(43,122,120,0.82) !default;

$state-danger-text: $white !default;
$alert-success-text: $white !default;

// Animations
$animation-duration: 0.3s !default;

// Font
$font-family-base: "Palanquin", Arial, Sans-serif !default;
$font-family-secondary: "Krub", Arial, Sans-serif !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-semi-bold: 600 !default;
$font-weight-bold: 700 !default;

$font-size-base: 0.875rem !default; //14

$font-size--1: ($font-size-base - 0.0625) !default; //13
$font-size--2: ($font-size-base - 0.125) !default; //12
$font-size--3: ($font-size-base - 0.1875) !default; //11
$font-size--4: ($font-size-base - 0.25) !default; //10
$font-size--5: ($font-size-base - 0.3125) !default; //9
$font-size--6: ($font-size-base - 0.375) !default; //8
$font-size--7: ($font-size-base - 0.4375) !default; //7

$font-size-1: ($font-size-base + 0.0625) !default; //15
$font-size-2: ($font-size-base + 0.125) !default; //16
$font-size-3: ($font-size-base + 0.1875) !default; //17
$font-size-4: ($font-size-base + 0.25) !default; //18
$font-size-5: ($font-size-base + 0.3125) !default; //19
$font-size-6: ($font-size-base + 0.375) !default; //20
$font-size-7: ($font-size-base + 0.4375) !default; //21
$font-size-8: ($font-size-base + 0.5) !default; //22
$font-size-9: ($font-size-base + 0.5625) !default; //23
$font-size-10: ($font-size-base + 0.625) !default; //24
$font-size-11: ($font-size-base + 0.6875) !default; //25
$font-size-12: ($font-size-base + 0.75) !default; //26
$font-size-14: ($font-size-base + 0.875) !default; //28
$font-size-16: ($font-size-base + 1) !default; //30
$font-size-18: ($font-size-base + 1.125) !default; //32
$font-size-21: ($font-size-base + 1.3125) !default; //35
$font-size-24: ($font-size-base + 1.5) !default; //38
$font-size-27: ($font-size-base + 1.6875) !default; //41

$modal-xl: 1140px !default;
$modal-lg: 800px !default;
$modal-md: 460px !default;
$modal-sm: 300px !default;
